.catListWrapper {
  padding: 1.5rem;
  min-height: calc(100vh - 82px - 199px);
}
.mainContainer {
  display: flex;
  flex-direction: column;
}
.catListWrapper header {
  font-size: 22px;
  margin-bottom: 15px;
  cursor: pointer;
}
