.blogListWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  margin: 0 10%;
}
.loading {
  color: #fff;
  z-index: 98;
}
.MuiBackdrop-root {
  position: absolute;
}
