.footer {
  width: 90%;
  max-width: 760;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
  font-size: 13;
  color: #ccc;
}
.data {
  display: flex;
  align-items: center;
  justify-content: center;
}
.data > div {
  display: flex;
  align-items: center;
}
