/* 关于豆米介绍页的样式设计 */
.doumi-info .detail-intro {
  color: rgb(158, 158, 158);
  font-size: 16px;
}
.doumi-info .detail-intro span {
  font-weight: bold;
  font-size: 18px;
}
.doumi-info .tags-intro {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.doumi-info .tags-intro > span {
  font-weight: bold;
  font-size: 18px;
  color: rgb(158, 158, 158);
}
.doumi-info .tags-intro .category {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
  border-left: 3px solid #eee;
  border-radius: 10px;
  background-color: #f5f0fa;
  border-left-color: #6f42c1;
  padding: 10px;
}
.doumi-info .tags-intro .category span {
  background: #6f42c1;
  padding: 5px 12px;
  margin: 5px;
  color: #fff;
  border-radius: 3px;
}
.doumi-info .contact-me-tip {
  color: rgb(158, 158, 158);
  font-size: 16px;
}
.doumi-info .contact-me-tip em {
  font-weight: bold;
}
.doumi-info .contact-me-channels {
  display: flex;
}
.doumi-info .contact-me-channels > div {
  margin-right: 10px;
}
.doumi-info .doumi-reward-tip {
  color: rgb(158, 158, 158);
  font-size: 16px;
}

/* 博客分类、归档、标签详情页样式设计 */
.blog-types-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.blog-types-wrapper .blog-type-list {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.blog-types-wrapper .blog-type-list .MuiChip-root.MuiChip-colorPrimary {
  margin-right: 20px;
  margin-bottom: 20px;
}
.blog-detail-wrapper {
  min-height: 100vh;
  position: relative;
  margin-right: 20%;
}
@media screen and (max-width: 992px) {
  .blog-detail-wrapper {
    margin-right: 0px;
  }
}
.blog-detail-wrapper #catalog-content-wrapper {
  position: fixed;
  right: 0px;
  top: 20%;
  height: 100%;
  width: 18%;
  padding-top: 30px;
  text-align: left;
  line-height: 2;
  font-size: 15px;
  overflow: overlay;
}
@media screen and (max-width: 992px) {
  .blog-detail-wrapper #catalog-content-wrapper {
    display: none;
  }
}
.blog-detail-wrapper .MuiBackdrop-root {
  position: absolute;
}
.blog-detail-wrapper h1 {
  text-align: center;
}
.blog-detail-wrapper .blog-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-detail-wrapper .blog-info .info-item {
  display: flex;
  font-size: 12px;
  color: #999;
  justify-content: center;
  align-items: center;
  position: relative;
}
.blog-detail-wrapper .blog-info .info-item:not(:last-child)::after {
  content: "|";
  width: 10px;
  text-align: center;
}
.blog-detail-wrapper .blog-info .info-item .icon {
  font-size: 12px;
  margin-right: 5px;
}
.blog-detail-wrapper .loading {
  color: #fff;
  z-index: 999;
}
.blog-detail-wrapper .micro-program,
.blog-detail-wrapper .comments {
  margin-top: 20px;
}
.blog-detail-wrapper .micro-program h4,
.blog-detail-wrapper .comments h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #119d55;
}
.blog-detail-wrapper .micro-program img,
.blog-detail-wrapper .comments img {
  width: 710px;
}
.blog-detail-wrapper .micro-program a,
.blog-detail-wrapper .comments a {
  text-decoration: underline;
  color: #119d55;
}
.blog-detail-wrapper .github {
  box-sizing: border-box;
  margin: 17.5px 0 17.5px 0px;
  padding: 0 0 0 17.5px;
  border-left: 5px solid #eee;
}
.blog-detail-wrapper .github p {
  margin: 0.8rem 0;
  font-style: italic;
}
.blog-detail-wrapper .github a {
  text-decoration: underline;
  color: #119d55;
}
