/* 关于豆米介绍页的样式设计 */
.doumi-info .detail-intro {
  color: rgb(158, 158, 158);
  font-size: 16px;
}
.doumi-info .detail-intro span {
  font-weight: bold;
  font-size: 18px;
}
.doumi-info .tags-intro {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.doumi-info .tags-intro > span {
  font-weight: bold;
  font-size: 18px;
  color: rgb(158, 158, 158);
  margin-right: 5px;
}
.doumi-info .tags-intro .category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 3px solid #eee;
  border-radius: 10px;
  background-color: rgba(62, 223, 140, 0.1);
  border-left-color: #119d55;
  padding: 10px;
}
.tags-intro .tagsGroup {
  display: flex;
  flex-wrap: wrap;
}
.tags-intro .personalTag {
  display: flex;
  align-items: center;
}
.doumi-info .tags-intro .category span {
  background: #119d55;
  padding: 5px 12px;
  margin: 5px;
  color: #fff;
  border-radius: 3px;
}
.doumi-info .contact-me-tip {
  color: rgb(158, 158, 158);
  font-size: 16px;
}
.doumi-info .contact-me-tip em {
  font-weight: bold;
}
.doumi-info .contact-me-channels {
  display: flex;
}
.doumi-info .contact-me-channels > div {
  margin-right: 10px;
}
.doumi-info .doumi-reward-tip {
  color: rgb(158, 158, 158);
  font-size: 16px;
}

/* 博客分类、归档、标签详情页样式设计 */
.blog-types-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.blog-types-wrapper .blog-type-list {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.blog-types-wrapper .blog-type-list .MuiChip-root.MuiChip-colorPrimary {
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .doumi-info .tags-intro > span {
    display: inline-block;
    width: 30px;
  }
}
