.articleMarkdownContent {
  min-height: 100vh;
}

.articleMarkdownContent img {
  max-width: 100%;
}

.articleMarkdownContent table {
  border: 1px solid #d0d6d7;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 22px;
  display: table;
  border-spacing: 2px;
}

.articleMarkdownContent table thead tr th {
  border: 1px solid #d0d6d7;
  padding: 15px;
  background-color: #e4f0f1;
  text-align: center;
}

.articleMarkdownContent table tbody tr td {
  border: 1px solid #d0d6d7;
  padding: 15px;
  text-align: center;
}
