.articleMarkdownContent {
  min-height: 100vh;
}

.articleMarkdownContent img {
  max-width: 100%;
}

.articleMarkdownContent p {
  font-size: 14px;
}

.articleMarkdownContent h6 {
  font-size: 14px;
}

.articleMarkdownContent h5 {
  font-size: 16px;
}

.articleMarkdownContent h4 {
  font-size: 18px;
}

.articleMarkdownContent h3 {
  font-size: 20px;
}

.articleMarkdownContent h2 {
  font-size: 24px;
}

.articleMarkdownContent h1 {
  font-size: 28px;
}

.articleMarkdownContent table {
  border: 1px solid #d0d6d7;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 22px;
  display: table;
  border-spacing: 2px;
}

.articleMarkdownContent table thead tr th {
  border: 1px solid #d0d6d7;
  padding: 15px;
  background-color: #e4f0f1;
  text-align: center;
}

.articleMarkdownContent table tbody tr td {
  border: 1px solid #d0d6d7;
  padding: 15px;
  text-align: center;
}
