.card {
  width: 32%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.media {
  height: 140px;
}

.listAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weixinShare {
  position: relative;
}

.qrCode {
  position: absolute;
  padding: 6px;
  width: 126px;
  height: 126px;
  top: -132px;
  background: #fff;
  border: 1px solid #eee;
}

.qrCode::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border: 1px solid #ebebeb;
  background: #fff;
  width: 10px;
  height: 10px;
}
.btnGroup {
  display: flex;
}
.digest {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.title {
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 70px;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .card {
    width: 47%;
  }
  .media {
    height: 70px;
  }
  .title {
    font-size: 1.2rem;
    height: 50px;
  }
  .shareBtn {
    min-width: unset;
  }
}
