.blog-admin-container {
  padding: 0px !important;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.blog-admin-container .blog-admin-wrapper {
  display: flex;
  flex-grow: 1;
}
.blog-admin-container .blog-admin-wrapper .blog-list-container {
  width: 30%;
  flex-shrink: 0;
  overflow: scroll;
  height: 100vh;
  padding: 10px 10px 60px 10px;
  /* 隐藏滚动条 */
}

.blog-admin-container .blog-admin-wrapper .blog-content {
  width: 70%;
  height: 100vh;
  padding: 10px 10px 20px 10px;
  flex-grow: 0;
}
.blog-admin-container .blog-admin-wrapper .blog-content .blog-preview-text {
  overflow: scroll;
  height: 100%;
  /* 隐藏滚动条 */
}
.blog-admin-container .blog-admin-wrapper .blog-content .blog-preview-text img {
  max-width: 100%;
}
.blog-admin-container .blog-admin-wrapper .blog-content .blog-preview-text p {
  font-size: 14px;
}
.blog-admin-container .blog-admin-wrapper .blog-content .blog-preview-text h6 {
  font-size: 18px;
}
.blog-admin-container .blog-admin-wrapper .blog-content .blog-preview-text h5 {
  font-size: 20px;
}
.blog-admin-container .blog-admin-wrapper .blog-content .blog-preview-text h4 {
  font-size: 25px;
}
.blog-admin-container .blog-admin-wrapper .blog-content .blog-preview-text h3 {
  font-size: 32px;
}
.blog-admin-container .blog-admin-wrapper .blog-content .blog-preview-text h2 {
  font-size: 28px;
}
.blog-admin-container .blog-admin-wrapper .blog-content .blog-preview-text h1 {
  font-size: 56px;
}

.blog-admin-container
  .blog-admin-wrapper
  .blog-content
  .blog-preview-text
  table {
  border: 1px solid #d0d6d7;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 22px;
  display: table;
  border-spacing: 2px;
}
.blog-admin-container
  .blog-admin-wrapper
  .blog-content
  .blog-preview-text
  table
  thead
  tr
  th {
  border: 1px solid #d0d6d7;
  padding: 15px;
  background-color: #e4f0f1;
  text-align: center;
}
.blog-admin-container
  .blog-admin-wrapper
  .blog-content
  .blog-preview-text
  table
  tbody
  tr
  td {
  border: 1px solid #d0d6d7;
  padding: 15px;
  text-align: center;
}
