.blog-admin-container {
  padding: 0px !important;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.blog-admin-container .blog-admin-wrapper {
  display: flex;
  flex-grow: 1;
}
.blog-admin-container .blog-admin-wrapper .blog-list-container {
  width: 30%;
  flex-shrink: 0;
  overflow: scroll;
  height: 100vh;
  padding: 10px 10px 60px 10px;
  /* 隐藏滚动条 */
}

.blog-admin-container .blog-admin-wrapper .blog-content {
  width: 70%;
  height: 100vh;
  padding: 10px 10px 20px 10px;
  flex-grow: 0;
}
